body {
	font-family: sans-serif;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	background-color: #f8f4d7;
	margin-bottom: 100px;
}

#intro {
	width: 100%;
	height: auto;
}

#intro-text {
	position: absolute;
	width: auto;
	height: auto;
	    margin-top: 113px;
    margin-left: 163px;
    color: white;
}

#intro-name {
	width: 100%;
	max-width: 500px;
	min-width: 200px;
}

#info {
	/* background-color: #f8f4d8; */
	width: 100%;
	height: auto;
	margin-top: -10px;
	z-index: 999;
	min-height: 200px;

	position: absolute;
	left:  50%;
	color: #533b27;
}

#bg3 {
	position: relative;
	margin-top: -10px;
	background-image: url("bg-3.jpg");

}


#info p{
	color: #533b27;
	font-family: Roboto;
}

#info-text {
	z-index: 9999;
	width: 100%;
	max-width: 370px;
	text-align: center;
	margin: 0 auto;
	margin-top: 100px;
}

#testimonials {
	width: 100%;
	max-width: 1100px;

	z-index: 9999;
	margin: 0 auto;
		margin-top: 100px;

}

.col1{
	width: 30%;
	text-align: center;
	float: left;
	margin-left: 5%;
	margin-right: 5%;
}

.col2{
	width: 50%;
	text-align: center;
	float: left;
	margin-left: 5%;
	margin-right: 5%;
}


#options {
	width: 100%;
	max-width: 900px;

	z-index: 9999;
	margin: 0 auto;
	margin-top: 73px;
	padding-bottom:  200px;

}

p2 {
	font-weight: bold;
}


